/* IMPORT RULES */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Outfit:wght@100..900&display=swap');

/* RESEST STYLES */
* {
    border: 0;
    padding: 0;
    margin: 0;
}

/* VARIABLES */
:root {
    --dark-pink: hsl(345, 100%, 81%);
    --pink: hsl(0, 100%, 90%);
    --orange: hsl(20, 100%, 87%);
    --yellow: hsl(39, 100%, 93%);
    --off-white: hsl(0, 100%, 97%);
    --purple: hsl(280, 84%, 10%);
    --red: hsl(345, 52%, 44%);

    font-size: 16px;
}

/* FONT CLASSES */
.fugaz-one-regular {
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* <weight>: Use a value from 100 to 900 <uniquifier>: Use a unique and descriptive class name */
  .outfit {
    font-family: "Outfit", serif;
    font-weight: 500;
    font-style: normal;
  }

  .outfit-lite {
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* BODY */
  body {
    background-color: var(--yellow);
  }

  footer ::after {
    background-color: var(--dark-pink);
  }

  /* HEADINGS */
  h1 {
    color: var(--purple);
    font-size: 1.13rem;
    line-height: 20px;
  }

  h2 {
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    font-size: 1.25rem;
  }

  h4 {
    color: var(--off-white);
    -webkit-text-stroke: 6px var(--red);
    paint-order: stroke;
    stroke-linecap: round;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  h3 {
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.13rem;
    color: var(--purple);
    line-height: 28px;
  }

  h6 {
    font-size: 1.13rem;
    color: var(--purple)
  }

  span {
    margin-left: 45%;
    margin-top: -10%;
  }

  .span2 {
    margin-left: 100%;
  }

  /* RESPONSIVE NAV */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-pink);
    margin: 3%;
    border-radius: 10px;
  }

  header div {
    display: flex;
    flex-direction: row;
  }

  nav ul li a {
    color: var(--purple);
    border-radius: 5px;
    text-align: center;
  } 

  nav ul {
    display: none;
  }

  nav ul li {
    text-align: center;
    padding: 4% 1%;
    font-size: 1.25rem;
    border-top: 2px solid var(--off-white);
    width: 100%;
  }

  .bottom-border {
    border-bottom: 2px solid var(--off-white);
  }

  /* NAV DISPLAY */
  #checkbox {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  #checkbox:checked ~ ul {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: hsla(345, 100%, 81%, 0.95);
    flex-direction: column;
    list-style-type: none;
    margin-top: 16%;
    margin-left: -85%;
    width: 100%;
    z-index: 1000;
    animation-name: opacity;
    animation-duration: 0.3s;
  }

  @keyframes opacity {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
  }

  /* HEADER */
  #nav-header-combo {
    background-color: var(--dark-pink);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1% 2% 1%;
  }

  #home-button {
    width: 60%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  #home-button img {
    width: 20%;
    height: auto;
    left: 0;
    padding: 2%;
  }

  #icon {
    font-size: 1.5rem;
    text-align: center;
    color: var(--purple);
    background-color: var(--off-white);
    border-radius: 5px;
    padding: 20% 35%;
  }

  /* HEADER CONTACT */
  .header-contact {
    margin-bottom: -5%;
  }


  /* CAROUSEL */
  
  #carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    padding: 2%;
  }

  #banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

 .mySlides img {
    height: 20vh;
    width: auto;
  }

  .mySlides {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    width: auto;
    padding: 2%;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 50px;
    user-select: none;
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }

  .prev:hover, .next:hover {
    background-color: hsla(0, 0%, 100%, 0.8);
  }

  .all-dots {
    margin-top: 3%;
    text-align: center;
    justify-self: flex-end;
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: var(--off-white);
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: var(--red);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }

  @keyframes fade {
    0% {opacity: 40%;}
    100% {opacity: 100%;}
  }

  header section a {
    display: flex;
    justify-content: center;
  }

  header div a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header div p {
    font-size: 2.3rem;
    font-weight: 900;
  }

  /* MAIN */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .shop-now-styling {
    background-color: var(--dark-pink);
    width: 55%;
    padding: 3% 2% 3% 2%;
    border-radius: 10px;
    text-align: center;
    box-shadow : rgba(255, 158, 182, 0.6) 0rem 0.3rem 5px;
  }

  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    width: 100%;
  }

  main section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    background-color: var(--orange);
    padding: 3%;
  }

  main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 12%;
  }

  main article h5 {
    background-color: var(--pink);
    width: 90%;
    padding: 2%;
    border-radius: 5px;
  }

  #profiles {
    display: flex;
    flex-direction: column;
  }

  .profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    text-align: center;
    background-color: var(--pink);
    color: var(--purple);
    margin-top: 5%;
    padding: 3% 2% 8% 2%;
    border-radius: 10px;
  }

  .profiles img {
    width: 80%;
    border-radius: 10px;
  }

  main article div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main article div p {
    margin-top: 10%;
  }

  main a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  /* MAIN CONTACT */
  .main-contact {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
  }

  .main-contact div {
    margin-top: 7%;
    width: 100%;
  }

  .main-contact div h3 {
    align-self: center;
    justify-self: center;
  }

  .smaller-header {
    margin-left: 2%;
  }

  .main-contact p {
    padding: 0% 5%;
    font-size: 1.25rem;
    line-height: 35px;
  }

  .main-contact ul {
    margin: 3% 0% 0% 7%;
  }

  .main-contact ul li {
    padding: 5%;
    font-size: 1.25rem;
    line-height: 35px;
    width: 100%;
    color: var(--purple)
  }

  /* FORM */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--orange);
    width: 85%;
    padding: 3%;
    font-size: 1.25rem;
    color: var(--purple);
    border-radius: 5px;
    margin-top: 5%;
  }

  input[type=text], select, textarea {
    width: 100%;
    border-radius: 5px;
    padding: 2%;
    margin: 2% 0%;
    font-size: 1rem;
    resize: vertical;
    box-sizing: border-box;
  }

  input:focus-visible, textarea:focus-visible {
    outline: 2px solid var(--dark-pink);
  }

  textarea {
    height: 200px;
    margin-bottom: 5%;
  }

  ::placeholder {
    color: hsl(279, 18%, 50%);
  }

  input[type=submit] {
    color: var(--off-white);
    -webkit-text-stroke: 6px var(--red);
    paint-order: stroke;
    stroke-linecap: round;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding: 3%;
    width: 100%;
    background-color: var(--dark-pink);
    border-radius: 5px;
    cursor: pointer;
  }

  /* FOOTER */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    background-color: var(--dark-pink);
    color: var(--purple);
    padding: 3%;
  }

  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
    width: 100%;
    align-items: center;
  }

  footer section p {
    line-height: 28px;
    text-shadow: rgba(171, 54, 83, 0.75) 0rem 0.1rem 3px;
  }

  footer section a {
    max-width: 15%;
    max-height: 15%;
    align-self: center;
    text-align: center;
  }

  footer p {
    margin-top: 5%;
    margin-bottom: -2%;
    text-align: center;
    line-height: 28px;
  }

  /* IMAGES */
  .main-size {
    width: 30%;
    height: 30%;
    background-color: var(--off-white);
    padding: 2%;
    border-radius: 10px;
  }

  .footer-images {
    width: 100%;
    height: 100%;
  }

  /* MISC CLASSES */
  .white-border {
    position: absolute;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 2%;
    width: 60%;
    border-radius: 10px;
    margin-top: 8%;
    z-index: 999;
  }

  .pink-header {
    background-color: var(--dark-pink);
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5% 0% 0.5% 0%;
    box-shadow: rgba(255, 158, 182, 0.6) 0rem 0.3rem 5px;
  }

  .center {
    align-items: center;
  }

  .push-down {
    margin-bottom: 3%;
  }

  .align-left {
    text-align: left;
    padding-left: 2%;;
  }

  .pink-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--pink);
    width: 83%;
    border-radius: 5px;
    padding: 3%;
    margin-top: 5%;
  }

  .no-margin-top {
    margin-top: 0%;
  }

  /* ACTIONS */
  .button:hover {
    transform: scale(1.1);
    transition: all 0.4s;
  }

  .button {
    transition: all 0.4s;
  }

  /* MISC */
  hr {
    border-top: 4px solid var(--pink);
    margin-top: 1.5%;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: var(--purple);
  }


  /* MEDIA QUERIES */
  @media screen and (min-width: 750px) {
    .wrapper {
      padding: 2%;
    }


    #icon {
      display: none;
    }

    .media-hide {
      display: none;
    }

    .mobile-hide {
      display: block;
    }

    .media-small-hide {
      display: none;
    }

    #nav-header-combo {
      padding: 0.5%;
      width: 100%;
      margin: 0% 0% 2% 0%;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }

    #home-button {
      height: 100px;
      width: 100%;
    }

    #home-button img {
      width: auto;
      height: 100px;
    }

    .header-sec-1 {
      display: flex;
      flex-direction: row;
    }

    header div section ul {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      border-radius: 0px;
      color: var(--off-white);
      width: 100%;
      left: -10%;
    }

    header div section ul li {
      list-style-type: none;
      margin-left: 3%;
      padding: 1%;
      width: 12vh;
      background-color: var(--pink);
      border-radius: 10px;
      font-size: 1rem;
    }

    header div section ul li a {
      color: var(--off-white);
      -webkit-text-stroke: 5px var(--red);
      paint-order: stroke;
      stroke-linecap: round;
      padding: 10%;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      text-align: center;
    }

    header div section ul li a:visited {
      color: var(--off-white);
    }
  }

  .footer-images {
    width: 50%;
    height: auto;
    padding: 0%;
  }

  @media screen and (min-width: 850px) {

    /* HEADERS */
    h3 {
      font-size: 2rem;
    }

    .smaller-header {
      font-size: 1.5rem;
    }
   
    /* HEADER & NAV */
    header div section ul li {
      width: 13vh;
    }

    header div section ul {
      margin-left: 8%;
    }

    .media-small-hide {
      display: block;
    }

    .media-medium-hide {
      display: none;
    }

    /* MAIN */
    .wrapper {
      background-color: var(--yellow);
      padding: 3%;
    }

    .shop-now-styling {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2vh;
      width: 88%;
    }

    .stars {
      display: flex;
      align-items: flex-end;
    }

    .big-star {
     width: 4vh;
     height: 4vh;
    }

    .small-star {
      width: 3vh;
      height: 3vh;
    }
  }

  @media screen and (min-width: 1050px) {
    header div section ul li {
      width: 20vh;
      font-size: 1.25rem;
    }

    header div section ul {
      margin-left: 5%;
    }

    .white-border {
      margin-top: 4%;
    }

    /* MAIN */
    .media-medium-hide {
      display: block;
    }

    main {
      margin-top: 3%;
    }

    main section {
      margin-top: 5%;
    }

    main section div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px;
      height: 25vh;
      width: 90%;
    }

    .main-size {
      width: 18.5vh;
      height: 18.5vh;
      background-color: var(--off-white);
      padding: 2%;
      border-radius: 10px;
    }

    h2 {
      font-size: 2rem;
    }

    h4 {
      font-size: 2rem;
    }

    main article {
      margin-top: 3%;
    }

    main article h5 {
      width: 50%;
      padding: 1%;
      font-size: 1.5rem;
      line-height: 40px;
      border-radius: 5px;
    }

    #profiles {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .profiles {
      width: 30%;
      text-align: center;
      background-color: var(--pink);
      color: var(--purple);
      margin-top: 5%;
      padding: 3% 2% 8% 2%;
      border-radius: 10px;
    }

    h6 {
      margin-top: 2%;
      font-size: 1.3rem;
    }

    main article div div p {
      font-size: 1.25rem;
    }

    .wrapper {
      padding: 1% 5%;
    }

    #banner {
      display: flex;
      align-items: center;
      height: 30vh;
    }

    .mySlides img {
      width: auto;
      height: 35vh;
    }

    .white-border {
      width: 30%;
      padding: 1%;
    }

    .shop-now-styling {
      height: 0.1vh;
    }

    /* CONTACT MAIN */
    .main-contact {
      align-items: flex-start;
      padding: 0% 5%;
    }

    .main-contact p {
      font-size: 1.5rem;
    }

    .main-contact ul li {
      font-size: 1.5rem;
      line-height: 55px;
    }

    .smaller-pink-header {
      width: 60%;
      margin-left: 4%;
    }

    .pink-section {
      align-self: center;
      padding: 2% 2% 2% 0%;
      width: 90%;
    }

    /* FORM */
    form {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: center;
      align-items: center;
      height: 300px;
      padding-bottom: 150px;
      /* Manual override had to be done with width and height because of random completely unexplained
      white space at the top that refused to go away no matter how much debugging was done. Not the cleanest
      fix but it works. */
      width: 86%;
      font-size: 1.5rem;
    }

    input[type=text], textarea {
      font-size: 1.25rem;
      width: 100%;
      resize: none;
    }

    input[type=submit] {
      width: 100%;
      font-size: 1.5rem;
      transition: 0.4s;
    }

    input[type=submit]:hover {
      background-color: rgb(253, 131, 161);
    }

    .form-section-1 {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .form-section-2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 2%;
    }

    .no-bottom-margin {
      margin-bottom: 0%;
    }

    /* FOOTER */
    footer {
      margin-top: 10%;
    }

    #media-icons {
      display: flex;
      justify-content: center;
    }

    .footer-images {
      width: 30%;
      height: 30%;
      
    }

    footer section {
      display: flex;
      flex-direction: row;
      margin-top: 2%;
      align-items: center;
    }

    footer section a {
      margin: 0% -3%;
    }

    footer p {
      margin-top: 2%;
      font-size: 1.25rem;
    }
  }