/* IMPORT RULES */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Outfit:wght@100..900&display=swap');

/* RESEST STYLES */
* {
    border: 0;
    padding: 0;
    margin: 0;
}

/* VARIABLES */
:root {
    --dark-pink: hsl(345, 100%, 81%);
    --pink: hsl(0, 100%, 90%);
    --orange: hsl(20, 100%, 87%);
    --yellow: hsl(39, 100%, 93%);
    --off-white: hsl(0, 100%, 97%);
    --purple: hsl(280, 84%, 10%);
    --red: hsl(345, 52%, 44%);

    font-size: 16px;
}

/* FONT CLASSES */
.fugaz-one-regular {
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* <weight>: Use a value from 100 to 900 <uniquifier>: Use a unique and descriptive class name */
  .outfit {
    font-family: "Outfit", serif;
    font-weight: 500;
    font-style: normal;
  }

  /* BODY */
  body {
    background-color: var(--yellow);
  }

  footer ::after {
    background-color: var(--dark-pink);
  }

  /* HEADINGS */
  h1 {
    color: var(--purple);
    font-size: 1.13rem;
    line-height: 20px;
  }

  h2 {
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    font-size: 1.25rem;
  }

  h4 {
    color: var(--off-white);
    -webkit-text-stroke: 6px var(--red);
    paint-order: stroke;
    stroke-linecap: round;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  h5 {
    font-size: 1.13rem;
    color: var(--purple);
    line-height: 28px;
  }

  h6 {
    font-size: 1.13rem;
    color: var(--purple)
  }

  span {
    margin-left: 45%;
    margin-top: -10%;
  }

  .span2 {
    margin-left: 100%;
  }

  /* RESPONSIVE NAV */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-pink);
    margin: 3%;
    border-radius: 10px;
  }

  header div {
    display: flex;
    flex-direction: row;
  }

  header div img {
    margin-right: 1%;
    width: 20%;
    padding: 2%;
  }

  nav ul li a {
    color: var(--purple);
    border-radius: 5px;
    text-align: center;
  } 

  nav ul {
    display: none;
  }

  nav ul li {
    text-align: center;
    padding: 4% 1%;
    font-size: 1.25rem;
    border-top: 2px solid var(--off-white);
    width: 100%;
  }

  .bottom-border {
    border-bottom: 2px solid var(--off-white);
  }

  /* NAV DISPLAY */
  #checkbox {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  #checkbox:checked ~ ul {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: hsla(345, 100%, 81%, 0.95);
    flex-direction: column;
    list-style-type: none;
    margin-top: 16%;
    margin-left: -85%;
    width: 100%;
    z-index: 999;
  }

  /* HEADER */
  #nav-header-combo {
    background-color: var(--dark-pink);
    margin-bottom: 2%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }

  #icon {
    font-size: 1.5rem;
    text-align: center;
    color: var(--purple);
    background-color: var(--off-white);
    border-radius: 5px;
    padding: 20% 35%;
  }

  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
    padding: 2%;
  }

  #banner2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header section a {
    display: flex;
    justify-content: center;
  }

  header div a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header div p {
    font-size: 2.3rem;
    font-weight: 900;
  }

  /* MAIN */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .shop-now-styling {
    background-color: var(--dark-pink);
    width: 55%;
    padding: 3% 2% 3% 2%;
    border-radius: 10px;
    text-align: center;
    box-shadow : rgba(255, 158, 182, 0.6) 0rem 0.3rem 5px;
  }

  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    width: 100%;
  }

  main section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    background-color: var(--orange);
    padding: 3%;
  }

  main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 12%;
  }

  main article h5 {
    background-color: var(--pink);
    width: 90%;
    padding: 2%;
    border-radius: 5px;
  }

  #profiles {
    display: flex;
    flex-direction: column;
  }

  .profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    text-align: center;
    background-color: var(--pink);
    color: var(--purple);
    margin-top: 5%;
    padding: 3% 2% 8% 2%;
    border-radius: 10px;
  }

  .profiles img {
    width: 80%;
    border-radius: 10px;
  }

  main article div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main article div p {
    margin-top: 10%;
  }

  main a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  /* FOOTER */
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    background-color: var(--dark-pink);
    color: var(--purple);
    padding: 3%;
  }

  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
    width: 100%;
    align-items: center;
  }

  footer section p {
    line-height: 28px;
    text-shadow: rgba(171, 54, 83, 0.75) 0rem 0.1rem 3px;
  }

  footer section a {
    max-width: 15%;
    max-height: 15%;
    align-items: center;
    text-align: center;
  }

  footer p {
    margin-top: 5%;
    margin-bottom: -2%;
    text-align: center;
    line-height: 28px;
  }

  /* IMAGES */

  .banner {
    width: 60%;
    height: 60%;
  }

  .main-size {
    width: 30%;
    height: 30%;
    background-color: var(--off-white);
    padding: 2%;
    border-radius: 10px;
  }

  .footer-images {
    width: 100%;
    height: 100%;
  }

  /* MISC CLASSES */
  .white-border {
    position: absolute;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 2%;
    width: 60%;
    border-radius: 10px;
  }

  .pink-header {
    background-color: var(--dark-pink);
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5% 0% 0.5% 0%;
    box-shadow: rgba(255, 158, 182, 0.6) 0rem 0.3rem 5px;
  }

  .center {
    align-items: center;
  }

  /* ACTIONS */
  .button:hover {
    transform: scale(1.1);
    transition: all 0.4s;
  }

  .button {
    transition: all 0.4s;
  }

  /* MISC */
  hr {
    border-top: 4px solid var(--pink);
    margin-top: 1.5%;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: var(--purple);
  }


  /* MEDIA QUERIES */
  @media screen and (min-width: 750px) {
    #icon {
      display: none;
    }

    .media-hide {
      display: none;
    }

    .mobile-hide {
      display: block;
    }

    .media-small-hide {
      display: none;
    }

    .nav-header-combo {
      padding: 0.5%;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }

    header div img {
      width: 75px;
      height: 75px;
      padding: 5%;
    } 

    .header-sec-1 {
      display: flex;
      flex-direction: row;
      
    }

    header div section ul {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      border-radius: 0px;
      color: var(--off-white);
      width: 100%;
      margin-left: -11%;
    }

    header div section ul li {
      list-style-type: none;
      margin-left: 3%;
      padding: 1%;
      width: 12vh;
      background-color: var(--pink);
      border-radius: 10px;
      font-size: 1rem;
    }

    header div section ul li a {
      color: var(--off-white);
      -webkit-text-stroke: 5px var(--red);
      paint-order: stroke;
      stroke-linecap: round;
      padding: 10%;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      text-align: center;
    }

    header div section ul li a:visited {
      color: var(--off-white);
    }
  }

  @media screen and (min-width: 850px) {
   
    /* HEADER & NAV */
    header div section ul li {
      width: 13vh;
    }

    header div section ul {
      margin-left: 8%;
    }

    .media-small-hide {
      display: block;
    }

    .media-medium-hide {
      display: none;
    }

    .shopping-cart {
      width: 46px;
      height: 46px;
      padding: 0%;
    }

    /* MAIN */
    .wrapper {
      background-color: var(--yellow);
      padding: 3%;
    }

    .shop-now-styling {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2vh;
      width: 88%;
    }

    .stars {
      display: flex;
      align-items: flex-end;
    }

    .big-star {
     width: 4vh;
     height: 4vh;
    }

    .small-star {
      width: 3vh;
      height: 3vh;
    }
  }

  @media screen and (min-width: 1050px) {
    header div section ul li {
      width: 20vh;
      font-size: 1.25rem;
    }

    header div section ul {
      margin-left: 5%;
    }

    /* MAIN */
    .media-medium-hide {
      display: block;
    }

    main {
      margin-top: 3%;
    }

    main section {
      margin-top: 5%;
    }

    main section div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px;
      height: 25vh;
      width: 90%;
    }

    .main-size {
      width: 18.5vh;
      height: 18.5vh;
      background-color: var(--off-white);
      padding: 2%;
      border-radius: 10px;
    }

    h2 {
      font-size: 2rem;
    }

    h4 {
      font-size: 2rem;
    }

    main article {
      margin-top: 3%;
    }

    main article h5 {
      width: 50%;
      padding: 1%;
      font-size: 1.5rem;
      line-height: 40px;
      border-radius: 5px;
    }

    #profiles {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .profiles {
      width: 30%;
      text-align: center;
      background-color: var(--pink);
      color: var(--purple);
      margin-top: 5%;
      padding: 3% 2% 8% 2%;
      border-radius: 10px;
    }

    h6 {
      margin-top: 2%;
      font-size: 1.3rem;
    }

    main article div div p {
      font-size: 1.25rem;
    }

    .wrapper {
      padding: 1% 5%;
    }

    #banner {
      display: flex;
      align-items: center;
      height: 30vh;
    }

    #banner2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .white-border {
      width: 30%;
      padding: 1%;
    }

    .banner {
      height: 30vh;
      width: 50vh;
    }

    .shop-now-styling {
      height: 0.1vh;
    }

    /* FOOTER */
    footer {
      margin-top: 10%;
    }

    #media-icons {
      display: flex;
      justify-content: center;
    }

    .footer-images {
      width: 30%;
      height: 30%;
      
    }

    footer section {
      display: flex;
      flex-direction: row;
      margin-top: 2%;
      align-items: center;
    }

    footer section a {
      margin: 0% -3%;
    }

    footer p {
      margin-top: 2%;
      font-size: 1.25rem;
    }
  }